body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}
.flex-container{ 
    width: 100%;
    height: 700px;
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    transition: 0.5s all ease;
}

.flex-item{
    background: rgb(53, 236, 16);
    border: 1pt solid rgb(197, 10, 10);
    width: 10px;
    transition: 0.1s all ease;
}

.row{
    display: flex;
    grid-template-rows: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#bar{
margin: 10px;
background-color: bisque;
}
.newBars{
    border-left: 6px solid rgb(20, 211, 93);
    margin: 3px;
}
.bar{ 
    width: 18px;
    height: 15px;
    background-color: rgb(20, 215, 250);
    margin: 2px;
    float: left;
    display:flex;
    left: 50%;
    padding :15px 3px 10px;
    transition: 0.5s all ease;
}
h1{
   width: 70px;
   justify-content: center;
}